---
import { colors } from "./AboutContainer.astro";
import PortfolioCards from "./PortfolioCards.astro";
import kuzina from "../images/kuzina.svg";
import kognitive from "../images/konitive.svg";
import eye from "../images/eye.svg";
import manga from "../images/manga.svg";
---

<div class="flex flex-col justify-center items-center">
  <div class={`p-5 w-full bg-orange-400 font-bold text-xl`}>
    <p>I have 2+ years of experience in front-end development.</p>
    <p>
      My professional passion lies in crafting innovative, web-based solutions
      to elegantly address the challenges of everyday life.
    </p>
    <p>
      Technologies I commonly use :Tailwind, SCSS, Javascript (ES2020),
      Nextjs,Reactjsx Nodejs, Supabase, Vite, Webpack.
    </p>
    <p>Currently working with the lovely people at Teknorix</p>
  </div>

  <hr class="border-black border-4 w-full h-1" />
  <PortfolioCards
    defaultColor={colors[1]}
    title="Kuzina"
    desp="Kitchen management system for the family."
    tags={[
      "Nextjs",
      "Reactjs",
      "Supabase",
      "Typescript",
      "TailwindCss",
      "Shadcn/ui",
    ]}
    visit="https://kuzina.vercel.app/"
    git="https://github.com/Joshuajrodrigues/kuzina"
    readmore=""
    image={kuzina}
  />

  <PortfolioCards
    defaultColor={colors[0]}
    title="Kognitive"
    desp="Cbt journaling app with pre built forms."
    flip
    tags={[
      "Reactjs",
      "Typescript",
      "Supabase",
      "Zustand",
      "TailwindCss",
      "ChakraUi",
    ]}
    visit="https://kognitive.netlify.app"
    git="https://github.com/Joshuajrodrigues/cbtjournal"
    readmore=""
    image={kognitive}
  />
  <PortfolioCards
    defaultColor={colors[4]}
    title="Glaucoma detector"
    desp="Find eye cup to disk ratio using clustering algorithms."
    tags={["React", "Typescript", "Zustand", "TailwindCss"]}
    visit="https://glaucoma-detector.vercel.app/"
    git="https://github.com/Joshuajrodrigues/glaucoma-detector"
    readmore=""
    image={eye}
  />
  <PortfolioCards
    defaultColor={colors[3]}
    title="Manga2epub4kindle"
    flip
    desp="cbr/cbz manga to epub convertor for kindle"
    tags={["Nodejs", "Sharp"]}
    visit="https://www.npmjs.com/package/manga2epub4kindle"
    git="https://github.com/Joshuajrodrigues/manga2epub4kindle"
    readmore=""
    image={manga}
  />
</div>
