---
import { colors } from "./AboutContainer.astro";
import PortfolioCards from "./PortfolioCards.astro";
import kuzina from "../images/kuzina.svg";
import kognitive from "../images/konitive.svg";
import eye from "../images/eye.svg";
import manga from "../images/manga.svg";
import { getCollection } from 'astro:content';

const projects = (await getCollection("projects"));
let images = [kuzina,kognitive,eye,manga]

---

<div class="flex flex-col justify-center items-center">
  {
    projects?.map((project,index)=>(
      <PortfolioCards
        defaultColor={project.data.defaultColor}
        title={project.data.title}
        desp={project.data.desp}
        tags={project.data.tags}
        visit={project.data.visit}
        flip={index%2!==0}
        git={project.data.git}
        readmore={`/${project.slug}/`}
        image={images[index]}
      />
    ))
  }
</div>
