---
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from 'astro:transitions';
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Backlink from "../components/Backlink.astro";
type Props = CollectionEntry<"projects">["data"];

const { title, tags, desp, defaultColor, visit, git, image } = Astro.props;
console.log("image", image);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={desp} />
    <ViewTransitions />
  </head>
  <body class={defaultColor}>
      <Header hideIntroCards extraColor={defaultColor}  />
    <hr class="border-black border-4 w-full h-1" ></hr>
    <main class="mt-5">
      <Backlink />
      <h1 class="break-all text-center text-4xl font-extrabold">{title}</h1>
      <img width={1020} height={510} src={image} alt={title} />
      <section class="text-center text-2xl font-extrabold">
        {desp}
      </section>
      <div class="m-2 p-2">
        <slot />
      </div>
      <Backlink />
    </main>
    <Footer />
  </body>
</html>
